<h1>О нас:</h1>

<p>1) <a href="http://0.0.0.0:3000/about/contacts/">Контакты</a></p>
<p>2) <a href="http://0.0.0.0:3000/about/team/">Команда разработки</a></p>
<p>3) <a href="http://0.0.0.0:3000/about/products/">Продукция и цены</a></p>
